{% extends "base.html" %}

{% block title %}
About - Zachify
{% endblock %}

{% block content %}

<div class="about-page">

    <section class="about-hero">

        <p class="about-tag">
            PREMIUM TECHNOLOGY STORE
        </p>

        <h1>
            About Zachify
        </h1>

        <p class="about-description">
            Zachify is a modern premium e-commerce platform designed to deliver
            the latest electronics,accessories and other products with quality, trust, and an exceptional shopping
            experience.
        </p>

    </section>

</div>

{% endblock %}