<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zachify{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navbar -->
   <nav class="navbar">

    <!-- Logo -->
    <div class="logo">
        <a href="/">ZACHIFY</a>
    </div>

    <!-- Navigation -->
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('products') }}">Products</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('admin') }}">Admin</a></li>
    </ul>

    <!-- Search -->
    <div class="search-box">
        <input type="text" placeholder="Search products...">
    </div>

    <!-- User Buttons -->
    <div class="nav-right">
        <a href="{{ url_for('cart') }}" class="cart-link" style="position: relative; display: inline-flex; align-items: center; text-decoration: none;">
            🛒 Cart
            {% if cart_count > 0 %}
            <span class="cart-badge">{{ cart_count }}</span>
            {% endif %}
        </a>

        {% if session.get("username") %}
            <span class="welcome-user">
                Hi, {{ session["username"] }}
            </span>
            <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
        {% else %}
            <a href="{{ url_for('register') }}" class="register-btn">Register</a>
            <a href="{{ url_for('login') }}" class="login-btn">Login</a>
        {% endif %}
    </div>

</nav>

 
    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2026 Zachify. All Rights Reserved.</p>
    </footer>

</body>
</html>