<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zachify.in</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

    <div class="logo">
        <h2>Zachify</h2>
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <div class="search-box">
        <input type="text" placeholder="Search laptops...">
    </div>

    <a href="#" class="login-btn">Login</a>

</nav>

   

   <section class="hero">

    <h1>Welcome to Zachify Store</h1>

    <p>Discover the Best Deals on Electronics, Fashion & More.</p>

    <button class="shop-btn">Shop Now</button>

</section>

<section class="categories">

    <h2>Shop by Category</h2>

    <div class="category-grid">

        <div class="category-card">
            <h3>💻</h3>
            <p>Electronics</p>
        </div>

        <div class="category-card">
            <h3>👕</h3>
            <p>Fashion</p>
        </div>

        <div class="category-card">
            <h3>🏠</h3>
            <p>Home & Kitchen</p>
        </div>

        <div class="category-card">
            <h3>📚</h3>
            <p>Books</p>
        </div>

        <div class="category-card">
            <h3>⚽</h3>
            <p>Sports</p>
        </div>

    </div>

</section>

<section class="products">

    <h2>Featured Products</h2>

    <div class="product-container">

        <div class="card">

            <img src="{{ url_for('static', filename='images/laptop.jpg') }}" alt="Laptop">


            <h3>Dell Inspiron 15</h3>
            <p class="rating">⭐⭐⭐⭐⭐ (4.8)</p>

            <p class="price">
    ₹55,000
    <span class="old-price">₹70,000</span>
</p>

<p class="discount">20% OFF</p>

            <button class="cart-btn">🛒 Add to Cart</button>

        </div>

        <div class="card">

            <img src="{{ url_for('static', filename='images/smartwatch.jpg') }}" alt="Smart Watch">

            <h3>Noise ColorFit Pro</h3>
            <p class="rating">⭐⭐⭐⭐⭐ (4.5)</p>
             <p class="price">
    ₹4,999
    <span class="old-price">₹5,499</span>
</p>

<p class="discount">10% OFF</p>

            <button class="cart-btn">🛒 Add to Cart</button>

        </div>

        <div class="card">

           <img src="{{ url_for('static', filename='images/headphone.jpg') }}" alt="Headphones">

            <h3>Sony WH-CH520</h3>
            <p class="rating">⭐⭐⭐⭐ (4.2)</p>

            <p class="price">
    ₹2,499
    <span class="old-price">₹2,999</span>
</p>

<p class="discount">15% OFF</p>

            <button class="cart-btn">🛒 Add to Cart</button>

        </div>

        <div class="card">

            <img src="{{ url_for('static', filename='images/iphone.jpg') }}" alt="Iphone">

            <h3>Iphone 15pro</h3>
            <p class="rating">⭐⭐⭐⭐⭐ (4.8)</p>

            <p class="price">
    ₹18,999
    <span class="old-price">₹20,999</span>
</p>

<p class="discount">10% OFF</p>

            <button class="cart-btn">🛒 Add to Cart</button>

        </div>

        <div class="card">

            <img src="{{ url_for('static', filename='images/shoe.jpg') }}" alt="Shoes">

            <h3>Converse</h3>
            <p class="rating">⭐⭐⭐⭐ (4.0)</p>

            <p class="price">
    ₹2,999
    <span class="old-price">₹3,499</span>
</p>

<p class="discount">15% OFF</p>

            <button class="cart-btn">🛒 Add to Cart</button>

        </div>
    </div>

</section>

<footer>

    <h3>Zachify</h3>

    <p>Your One-Stop Shopping Destination</p>

    <div class="footer-links">

        <a href="#">Home</a>

        <a href="#">Products</a>

        <a href="#">About</a>

        <a href="#">Contact</a>

    </div>

    <p>© 2026 Zachify. All Rights Reserved.</p>

</footer>

</body>

</html>