{% extends "base.html" %}
{% block title %}
Home - Zachify
{% endblock %}
{% block content %}

   
   <section class="hero">

    <div class="hero-content">

        <h1>Upgrade Your Lifestyle</h1>

        <p>
            Discover premium electronics, fashion, and accessories
            with unbeatable deals only on <strong>Zachify</strong>.
        </p>

        <div class="hero-buttons">
            <a href="/products" class="shop-btn">Shop Now</a>
            <a href="/about" class="explore-btn">Explore</a>
        </div>

    </div>

</section>

<section class="categories">

    <h2>Shop by Category</h2>

    <div class="category-grid">

        <div class="category-card">
            <h3>💻</h3>
            <p>Electronics</p>
        </div>

        <div class="category-card">
            <h3>👕</h3>
            <p>Fashion</p>
        </div>

        <div class="category-card">
            <h3>🏠</h3>
            <p>Home & Kitchen</p>
        </div>

        <div class="category-card">
            <h3>📚</h3>
            <p>Books</p>
        </div>

        <div class="category-card">
            <h3>⚽</h3>
            <p>Sports</p>
        </div>

    </div>

</section>

<section class="products">

    <div class="section-title">

    <span>FEATURED COLLECTION</span>

    <h2>Trending Products</h2>

    <p>Carefully selected products with the best prices and quality.</p>

</div>

    <div class="product-container">

        {% for product in products %}

<div class="card">

    <div class="product-image">
        <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
    </div>

    <div class="product-info">

        <h3>{{ product.name }}</h3>

        <p class="rating">⭐⭐⭐⭐⭐ <span>(4.8)</span></p>

        <p class="price">
            ₹{{ product.price }}
        </p>

        <p class="category">{{ product.category }}</p>

        <button class="cart-btn">
            🛒 Add to Cart
        </button>

    </div>

</div>

{% endfor %}
</div>
</section>

{% endblock %}