{% extends "base.html" %}

{% block title %}
Login - Zachify
{% endblock %}

{% block content %}

<div class="login-wrapper">

    <div class="login-card">

        <div class="login-header">

            <h1>Welcome Back 👋</h1>

            <p>Login to continue your premium shopping experience.</p>

        </div>

        <form method="POST" action="/login">

            <div class="input-group">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required>

            </div>

            <div class="input-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required>

            </div>

            <button type="submit" class="login-btn-main">
                Login
            </button>

        </form>

        <div class="login-footer">

            <p>
                Don't have an account?
                <a href="/register">Create Account</a>
            </p>

        </div>

    </div>

</div>

{% endblock %}