{% extends "base.html" %}

{% block title %}
Register - Zachify
{% endblock %}

{% block content %}

<div class="login-wrapper">

    <div class="login-card">

        <div class="login-header">

            <h1>Create Account 🚀</h1>

            <p>
                Join Zachify and experience premium shopping.
            </p>

        </div>

        <form method="POST" action="/register">

            <div class="input-group">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter your username"
                    required>

            </div>

            <div class="input-group">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required>

            </div>

            <div class="input-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Create password"
                    required>

            </div>

            <div class="input-group">

                <label>Confirm Password</label>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm password"
                    required>

            </div>

            <button
                class="login-btn-main"
                type="submit">

                Create Account

            </button>

        </form>

        <div class="login-footer">

            <p>

                Already have an account?

                <a href="/login">

                    Login

                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}